
<div class="container">
  <div class="new_student_style">
    <h1>Web Development Course</h1>
    <div class="row">
          <% @students.each do |student| %>
            <div class="col-sm-3 col-md-2 col-xs-6" >
            <%= image_tag student.profile_pic_url, :class => "img-circle", width: 150 %><br>
           <%= student.first_name %> <%= student.last_name %>
           </div>
         <% end %>
    </div>
  </div>

  <%= link_to 'Add a New Student', new_student_url %>

</div>
