<h1>Student #<%= @student.first_name %></h1>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Profile pic url:</b>
  <%= @student.profile_pic_url %>
</p>


